* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }

  body {
    scroll-behavior: smooth;
  }

  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #a015d324;
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
  }

  #navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
  }

  #navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  #navbar a:hover {
    color: #b66cc2;
  }

  #hamburguer {
    display: none;
    font-size: 2rem;
    color: #cb8cff;
    cursor: pointer;
    z-index: 1100;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  @media (max-width: 768px) {
    #hamburguer {
        display: block;
    }

    #navbar {
        background: none;
        box-shadow: none;
        justify-content: flex-start;
        padding: 0;
    }

    #navbar ul {
        flex-direction: column;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #cb8cff;
        width: 100%;
        transition: left 0.3s ease-in-out;
        padding: 20px 0;
        z-index: 1000;
        border-radius: 20px;
    }

    #navbar ul.show {
        left: 0;
    }

    #navbar li {
        margin: 20px 0;
        text-align: center;
    }
  }
  
  section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 40px;
    flex-direction: column;
    justify-content: flex;
  }

  section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
    color: #1b1f3a;
  }

  #hero {
    background: radial-gradient(circle, #f6d5ea, #cc8cff);
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  #hero h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }

  #hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
  }

.star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out ;
}

.star:nth-child(1) {
    top: 20%;
    left: 25%;
    animation-delay: 0s;
}

.star:nth-child(2) {
    top: 40%;
    left: 70%;
    animation-delay: 0.5s;
}

.star:nth-child(3) {
    top: 60%;
    left: 50%;
    animation-delay: 1s;
}

.star:nth-child(4) {
    top: 80%;
    left: 30%;
    animation-delay: 1.5s;
}

.star:nth-child(5) {
    top: 15%;
    left: 80%;
    animation-delay: 2s;
}

.star:nth-child(6) {
    top: 10%;
    left: 10%;
    animation-delay: 0.3s;
  }
  .star:nth-child(7) {
    top: 30%;
    left: 60%;
    animation-delay: 0.9s;
  }
  .star:nth-child(8) {
    top: 50%;
    left: 15%;
    animation-delay: 1.2s;
  }
  .star:nth-child(9) {
    top: 70%;
    left: 75%;
    animation-delay: 1.8s;
  }
  .star:nth-child(10) {
    top: 85%;
    left: 40%;
    animation-delay: 2.3s;
  }
  
  @keyframes twinkle {
    0%, 100% { opacity: 0.2; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.5); }
  }

  #articles {
    background: white;
    gap: 20px;
  }

  .articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
  

  .article {
    background: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
  }

  .article:hover {
    transform: translateY(-5px);
  }

  .article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
  }

  .article h3 {
    font-size: 1.2rem;
    color: #1b1f3a;
    margin-bottom: 10px;
  }

  .article p {
    color: #555;
    font-size: 0.95rem;
  }

  #tarot {
    background: #ddb7fd;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
  }

  .tarot-container {
    perspective: 100%;
  }
  
  .tarot-card {
    width: 200px;
    height: 343px;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    margin: 20px auto;
    box-shadow: 0 5px 1px #b55eb3;
  }

  .tarot-card:hover {
    box-shadow: 0 0 20px 5px #9b59b6;
  }

  .tarot-card.flip {
    transform: rotateY(180deg);
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-front, .card-back {
    background-size: cover;
    background-position: center;
  }

  .card-front {
    background-image: url('images/tarotcards/backtarotcard.png');
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .tarot-message {
    margin-top: 20px;
    font-size: 1.2rem;
    max-width: 400px;
  }

  .tarot-message h3 {
    margin-bottom: 12px;
    color: #7387ba;
  }

  .tarot-message blockquote {
    margin-bottom: 12px;
    color: #ffffff
  }

  .tarot-message p {
    margin-top: 12px;
    color: #9b59b6;
    font-weight: bold;
  }

  .typing-text {
    font-size: 1.5rem;
    color: #7387ba;
    width: 100%;
    max-width: 600px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 16s steps(80, end), blink-caret 0.65s step-end infinite;
    margin-bottom: 30px;
  }

  @keyframes typing {
    0% { width: 0 }
    50% { width: 100% }
    100% { width: 0 }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: black;}
  }

  @media (max-width: 768px) {
    .typing-text {
        font-size: 1.2rem;
        white-space: normal;
        animation: none;
    }
  }

  #ebook {
    background: white;
    gap: 40px;
  }

  .ebook-container {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  #ebook img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  #ebook button {
    background: #9b59b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }

  #ebook button:hover {
    background: #343a6a;
  }

  #shop {
    background: white;
    
    gap: 30px;
  }

  .shop-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .shop-item {
    text-align: center;
    width: 30%;
    cursor: pointer;
  }

  .shop-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .shop-item button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    background: #9b59b6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .shop-item button:hover {
    background: #f6d5ea;
  }

  /* Responsive mobile */

  @media (max-width: 768px) {
    .articles-container,
    .shop-container,
    .ebook-container,
    #tarot {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .article,
    .shop-item {
        width: 90%;
    }

    .tarot-container {
        margin-bottom: 20px;
    }

    .tarot-message {
        max-width: 90%;
        text-align: center;
    }

    #ebook img {
        margin-bottom: 20px;
    }

    #ebook button {
        margin-bottom: 20px;
    }
  }

  #footer {
    background-color: #cc8cff;
    color: white;
    padding: 30px 20px;
    text-align: center;
    margin-top: 60px;
  }
  
  .footer-content {
    max-width: 800px;
    margin: auto; 
  }

  .footer-content i {
    color: white !important;
  }
  
  .footer-content p {
    margin-bottom: 15px;
  }
  
  .social-contact {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .footer-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    cursor: pointer;

  }
  
  .footer-link i {
    font-size: 1.4rem;
  }
  
  .footer-link:hover {
    color: #f6d5ea;
  }
   